@font-face {
	font-family: 'Supermolot';
	src: url('../fonts/TT Supermolot Neue Trial Expanded ExtraBold Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Yu Gothic';
	src: url('../fonts/yu-gothic-regular.ttf') format('truetype');
}

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"dark-gray": #1C1C1C,
	"light-gray": #999EA6,
	"orange": #FA4516,
);



$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

/* Full-Screen Dropdown Styling */

.font-overtext{
	font-family: "Supermolot", serif;
}

.font-text{
	font-family: "Yu Gothic", serif;
}

/* Navbar */
.navbar-fontsize-mobil{
	font-size: 10px;
}


/* Event card */
#event-card-negative-margin{
	margin-top: -50px;
}

#upcoming-events-header{
	font-size: 17px;
}

.event-card-big-text{
	font-size: 10px;
}

.event-card-text{
	font-size: 7px;
}

#buy-tickets-text{
	font-size: 10px;
	white-space: nowrap;
}


/* Watch live card */
#watch-live-header{
	font-size: 25px;
}

#watch-live-underheader{
	font-size: 10px;
}

.live-card-text{
	font-size: 9px;
}

#live-card-pluto-tv{
	font-size: 7px;
}

#watch-live-text{
	font-size: 10px;
}


/* Apply for our roster - front page */
#apply-for-our-roster-header{
	font-size: 7px;
}

.apply-for-our-roster-text{
	font-size: 5px;
}

#sign-up-text{
	font-size: 7px;
}


/* Merch info box - front page mobil */
#merch-header{
	font-size: 15px;
}

.merch-text{
	font-size: 7px;
}

#view-our-merch-text{
	font-size: 10px;
}


/* Footer */
#sign-up-for-newsletter-header{
	font-size: 10px;
}

.footer-headers{
	font-size: 6px;
}

.footer-text{
	font-size: 5px;
}

.email-subscribe{
	font-size: 8px;
}


/* What is dominance fc */
#what-is-dominance-fc-header{
	font-size: 10px;
}

.what-is-dominance-fc-text{
	font-size: 6px;
}

.mark-o-madsen-ceo{
	font-size: 7px;
	white-space: nowrap;
}

#apostrophie{
	font-size: 30px;
}


/* Event cards with information and pictures */
.event-cards-information-text{
	font-size: 6px;
}


/* Apply for our fighter roster - fighter sign up */
#apply-for-our-fighter-roster-header{
	font-size: 7px;
}

.apply-for-our-fighter-roster-text{
	font-size: 4.75px;
}


/* Become a dominance fc fighter */
::placeholder {
	color: white !important;
	opacity: 1;
}

#become-a-dominance-fc-fighter-header{
	font-size: 10px;
}

#become-a-dominance-fc-fighter-text{
	font-size: 8px;
}

.fighter-sign-up-input-fields{
	font-size: 5px;
}

#do-you-allow{
	font-size: 5px;
}

.yes-no-permission{
	font-size: 7px;
}

.fa-circle{
	font-size: 7px;
}

#submit-me-as-a-fighter-button{
	font-size: 7px;
}

#live-card-pluto-tv-gray-text{
	font-size: 7px;
}

#dominance-fc-partners-header{
	font-size: 15px;
}

#dominance-fc-partners-text{
	font-size: 8px;
}

.kbhallen-nordicmedia-text{
	font-size: 7px;
}

#what-do-we-aim-to-achieve-header{
	font-size: 8px;
}

.what-do-we-aim-to-achieve-text{
	font-size: 4px;
}

@media only screen and (min-width: 375px){

	.live-card-text{
		font-size: 11px;
	}

	#live-card-pluto-tv{
		font-size: 10px;
	}

	#live-card-pluto-tv-gray-text{
		font-size: 10px;
	}

	#watch-live-text{
		font-size: 12px;
	}

	#apply-for-our-roster-header{
		font-size: 10px;
	}

	.apply-for-our-roster-text{
		font-size: 6px;

	}

	#sign-up-text{
		font-size: 10px;
	}

	#what-is-dominance-fc-header{
		font-size: 10px;
	}

	.what-is-dominance-fc-text{
		font-size: 7px;
	}

	.mark-o-madsen-ceo{
		font-size: 7px;
		white-space: nowrap;
	}

	#apostrophie{
		font-size: 40px;
	}

	#merch-header{
		font-size: 18px;
	}

	.merch-text{
		font-size: 10px;
	}

	#view-our-merch-text{
		font-size: 10px;
	}

	/* Apply for our fighter roster - fighter sign up */
	#apply-for-our-fighter-roster-header{
		font-size: 8px;
	}

	.apply-for-our-fighter-roster-text{
		font-size: 6px;
	}


	#do-you-allow{
		font-size: 5.5px;
	}

	#what-do-we-aim-to-achieve-header{
		font-size: 9px;
	}

	.what-do-we-aim-to-achieve-text{
		font-size: 5px;
	}

}

@media only screen and (min-width: 425px){

	.live-card-text{
		font-size: 13px;
	}

	#live-card-pluto-tv{
		font-size: 12px;
	}

	#live-card-pluto-tv-gray-text{
		font-size: 12px;
	}

	#watch-live-text{
		font-size: 14px;
	}

	#apply-for-our-roster-header{
		font-size: 12px;
	}

	.apply-for-our-roster-text{
		font-size: 7px;

	}

	#sign-up-text{
		font-size: 12px;
	}

	#what-is-dominance-fc-header{
		font-size: 15px;
	}

	.what-is-dominance-fc-text{
		font-size: 8px;
	}

	.mark-o-madsen-ceo{
		font-size: 8px;
		white-space: nowrap;
	}

	#apostrophie{
		font-size: 40px;
	}

	#merch-header{
		font-size: 22px;
	}

	.merch-text{
		font-size: 12px;
	}

	#view-our-merch-text{
		font-size: 10px;
	}

	.event-cards-information-text{
		font-size: 8px;
	}

	#do-you-allow{
		font-size: 6px;
	}

	/* Apply for our fighter roster - fighter sign up */
	#apply-for-our-fighter-roster-header{
		font-size: 10px;
	}

	.apply-for-our-fighter-roster-text{
		font-size: 7px;
	}

	#what-do-we-aim-to-achieve-header{
		font-size: 10px;
	}

	.what-do-we-aim-to-achieve-text{
		font-size: 6px;
	}

}

@media only screen and (min-width: 768px){
	.navbar-fontsize{
		font-size: 12px;
	}

	#event-card-negative-margin{
		margin-top: -100px;
	}

	#upcoming-events-header{
		font-size: 28px;
	}

	.event-card-big-text{
		font-size: 15px;
	}

	.event-card-text{
		font-size: 13px;
	}

	#buy-tickets-text{
		font-size: 18px;
	}

	#watch-live-header{
		font-size: 40px;
	}

	#watch-live-underheader{
		font-size: 25px;
	}

	.live-card-text{
		font-size: 20px;
	}

	#live-card-pluto-tv{
		font-size: 18px;
	}

	#watch-live-text{
		font-size: 25px;
		white-space: nowrap;
	}

	#apply-for-our-roster-header{
		font-size: 20px;
	}

	.apply-for-our-roster-text{
		font-size: 13px;

	}

	#sign-up-text{
		font-size: 15px;
		white-space: nowrap;
	}

	#sign-up-for-newsletter-header{
		font-size: 15px;
	}

	.footer-headers{
		font-size: 13px;
	}

	.footer-text{
		font-size: 11px;
	}

	.email-subscribe{
		font-size: 10px;
	}

	#what-is-dominance-fc-header{
		font-size: 22px;
	}

	.what-is-dominance-fc-text{
		font-size: 14px;
	}

	.mark-o-madsen-ceo{
		font-size: 15px;
		white-space: nowrap;
	}

	#apostrophie{
		font-size: 50px;
	}

	.event-cards-information-text{
		font-size: 12px;
	}

	.top-image-text{
		font-size: 35px;
	}

	/* Apply for our fighter roster - fighter sign up */
	#apply-for-our-fighter-roster-header{
		font-size: 15px;
	}

	.apply-for-our-fighter-roster-text{
		font-size: 12.5px;
	}

	#become-a-dominance-fc-fighter-header{
		font-size: 25px;
	}

	#become-a-dominance-fc-fighter-text{
		font-size: 15px;
	}

	.fighter-sign-up-input-fields{
		font-size: 10px;
	}

	#do-you-allow{
		font-size: 11px;
	}

	.yes-no-permission{
		font-size: 12px;
	}

	.fa-circle{
		font-size: 12px;
	}

	#submit-me-as-a-fighter-button{
		font-size: 12px;
	}

	#dominance-fc-partners-header{
		font-size: 25px;
	}

	#dominance-fc-partners-text{
		font-size: 20px;
	}

	.kbhallen-nordicmedia-text{
		font-size: 15px;
	}

	#what-do-we-aim-to-achieve-header{
		font-size: 19px;
	}

	.what-do-we-aim-to-achieve-text{
		font-size: 10px;
	}
}

@media only screen and (min-width: 1024px){
	.navbar-fontsize{
		font-size: 15px;
	}

	#event-card-negative-margin{
		margin-top: -150px;
	}

	#watch-live-header{
		font-size: 50px;
	}

	#watch-live-underheader{
		font-size: 30px;
	}

	.live-card-text{
		font-size: 28px;
	}

	#live-card-pluto-tv{
		font-size: 25px;
	}

	#watch-live-text{
		font-size: 25px;
		white-space: nowrap;
	}

	#apply-for-our-roster-header{
		font-size: 30px;
	}

	.apply-for-our-roster-text{
		font-size: 18px;

	}

	#sign-up-text{
		font-size: 25px;
		white-space: nowrap;
	}

	#what-is-dominance-fc-header{
		font-size: 30px;
	}

	.what-is-dominance-fc-text{
		font-size: 20px;
	}

	.mark-o-madsen-ceo{
		font-size: 20px;
		white-space: nowrap;
	}

	#apostrophie{
		font-size: 60px;
	}

	.event-cards-information-text{
		font-size: 16px;
	}

	.top-image-text{
		font-size: 45px;
	}

	#become-a-dominance-fc-fighter-header{
		font-size: 35px;
	}

	#become-a-dominance-fc-fighter-text{
		font-size: 20px;
	}

	.fighter-sign-up-input-fields{
		font-size: 15px;
	}

	#do-you-allow{
		font-size: 13px;
	}

	.yes-no-permission{
		font-size: 14px;
	}

	.fa-circle{
		font-size: 14px;
	}

	#submit-me-as-a-fighter-button{
		font-size: 17px;
	}

	/* Apply for our fighter roster - fighter sign up */
	#apply-for-our-fighter-roster-header{
		font-size: 22px;
	}

	.apply-for-our-fighter-roster-text{
		font-size: 16px;
	}
	.email-subscribe{
		font-size: 15px;
	}

	#live-card-pluto-tv-gray-text{
		font-size: 20px;
	}

	#dominance-fc-partners-header{
		font-size: 30px;
	}

	#dominance-fc-partners-text{
		font-size: 25px;
	}

	.kbhallen-nordicmedia-text{
		font-size: 20px;
	}

	#what-do-we-aim-to-achieve-header{
		font-size: 24px;
	}

	.what-do-we-aim-to-achieve-text{
		font-size: 14.5px;
	}

}

@media only screen and (min-width: 1440px){
	.navbar-fontsize{
		font-size: 19px;
	}

	#event-card-negative-margin{
		margin-top: -200px;
	}

	#upcoming-events-header{
		font-size: 40px;
	}

	.event-card-big-text{
		font-size: 25px;
	}

	.event-card-text{
		font-size: 22px;
	}

	#buy-tickets-text{
		font-size: 25px;
	}

	#watch-live-header{
		font-size: 60px;
	}

	#watch-live-underheader{
		font-size: 50px;
	}

	.live-card-text{
		font-size: 38px;
	}

	#live-card-pluto-tv-gray-text{
		font-size: 25px;
	}

	#watch-live-text{
		font-size: 45px;
		white-space: nowrap;
	}

	#apply-for-our-roster-header{
		font-size: 40px;
	}

	.apply-for-our-roster-text{
		font-size: 25px;

	}

	#sign-up-text{
		font-size: 35px;
		white-space: nowrap;
	}

	#sign-up-for-newsletter-header{
		font-size: 25px;
	}

	.footer-headers{
		font-size: 23px;
	}

	.footer-text{
		font-size: 21px;
	}

	.email-subscribe{
		font-size: 20px;
	}

	#what-is-dominance-fc-header{
		font-size: 40px;
	}

	.what-is-dominance-fc-text{
		font-size: 28px;
	}

	.mark-o-madsen-ceo{
		font-size: 30px;
		white-space: nowrap;
	}

	#apostrophie{
		font-size: 80px;
	}

	.event-cards-information-text{
		font-size: 23px;
	}

	.top-image-text{
		font-size: 65px;
	}

	/* Apply for our fighter roster - fighter sign up */
	#apply-for-our-fighter-roster-header{
		font-size: 35px;
	}

	.apply-for-our-fighter-roster-text{
		font-size: 22.5px;
	}


	#become-a-dominance-fc-fighter-header{
		font-size: 40px;
	}

	#become-a-dominance-fc-fighter-text{
		font-size: 25px;
	}

	.fighter-sign-up-input-fields{
		font-size: 20px;
	}

	#do-you-allow{
		font-size: 18px;
	}

	.yes-no-permission{
		font-size: 19px;
	}

	.fa-circle{
		font-size: 19px;
	}

	#submit-me-as-a-fighter-button{
		font-size: 22px;
	}

	#dominance-fc-partners-header{
		font-size: 35px;
	}

	#dominance-fc-partners-text{
		font-size: 30px;
	}

	.kbhallen-nordicmedia-text{
		font-size: 25px;
	}

	#what-do-we-aim-to-achieve-header{
		font-size: 35px;
	}

	.what-do-we-aim-to-achieve-text{
		font-size: 21.5px;
	}
}

@media only screen and (min-width: 2560px){
	.navbar-fontsize{
		font-size: 39px;
	}

}